<!DOCTYPE html>
<html>
<head>
	<title>Fake Note Detection</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body style="background-color: black;color: white;">
	<h1 class="text-center">Fake Bank Notes Detection</h1>
	<div style="margin-top: 10%">
		<form class="text-center" action="/predict" method="post">
			<ul style="list-style-type: none;" class="list-group">
				<li class="list-group-item" style="border: none;background-color:black;">
					<label for="variance">Variance:</label><br>
		  			<input type="text" id="variance" name="variance" value="" class="inpfields"><br>
		  		</li>
				<li class="list-group-item" style="border: none;background-color:black;">
					<label for="skewness">Skewness:</label><br>
		  			<input type="text" id="skewness" name="skewness" value="" class="inpfields"><br>
				</li>
				<li class="list-group-item" style="border: none;background-color:black;">
					<label for="curtosis">Curtosis:</label><br>
		  			<input type="text" id="curtosis" name="curtosis" value="" class="inpfields"><br>
				</li>
				<li class="list-group-item" style="border: none;background-color:black;">
					<label for="entropy">Entropy:</label><br>
		  			<input type="text" id="entropy" name="entropy" value="" class="inpfields"><br>
				</li>
				<li class="list-group-item" style="border: none;background-color:black;"><input id="submit" type="submit" value="Submit" class="btn btn-primary mt-3" style="border: 1px solid white;color: black;background-color: yellow"></li>
			</ul>
		</form>
	</div>
	<br>
	{% if prediction %}
	<div style="text-align: center;" id="predtxt">
		<center style="margin-left: 0%;"><p class="text-center">{{prediction}}</p></center>
	</div>
	{% endif %}
</body>
<script>
	$(".inpfields").on('click',function(){
		$("#predtxt").hide();
	});
	$("#submit").on('click',function(){
		$( window ).load(function() {
		  $("#predtxt").show();
		});		
	});
</script>
</html>